.Category{
    display: flex;
    flex-direction: column;
    
    padding: 2px;
    gap: 5px;
}

.title{
    font-weight: 700;
    color: black;
    font-size: x-large;
}

.category_box{
border: 1px solid black;
width: 15rem;
padding: 10px;
display: flex;
flex-direction: column;
gap: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.ctegory_item{
    width: 100%;
    background-color: aliceblue;
    padding: 3px;
}